antlr4-python3-runtime
azure
babel!=2.0
blockdiag
cryptography
coverage
folium
jyquickhelper
keyring
keyrings.alt
mutagen
mpld3
pycodestyle>=2.0.0
pydocstyle
pycryptodomex
pyensae
pyquickhelper>1.5.2122
pyshp
qgrid
semantic_version
sphinx-gallery
sphinxcontrib-images
sphinxcontrib-imagesvg
sphinxcontrib-jsdemo
sphinxjp.themes.basicstrap
sphinxjp.themes.revealjs
sphinxjp.themes.sphinxjp
tqdm
unify
shapely
wheel
xgboost
xlrd
