basemap
bokeh
Cython
flake8
ipykernel
ipyparallel
ipython
ipywidgets
jupyter
matplotlib
nbformat
networkx
numpy
openpyxl
pandas
pyproj
pyzmq
requests
scikit-learn
seaborn
Sphinx
statsmodels
statsmodels
toolz
traitlets


