# conda
bokeh
Cython
jupyter
keras
matplotlib
notebook
networkx
numba
numpy
pandas
Pillow
pyproj
scikit-learn
scipy
seaborn
setuptools
Sphinx
statsmodels
toolz

# other
beautifulsoup4
chardet
coverage
ensae_teaching_cs
falcon
folium
ijson
jyquickhelper
keras_applications
keyring
keyrings.alt
lightmlrestapi
manydataapi
matplotlib
mlinsights>=0.3
mnist
mpld3
opencv-python
pandas_streaming
papierstat
psutil
pycodestyle
pycryptodomex
pydicom
pyecharts
pyecharts-javascripthon
pyensae
pylint
pymyinstall
pyquickhelper>=1.10
pyshp
qgrid
shapely
sphinxcontrib.imagesvg
sphinx-bootstrap-theme
shapely
tf-nightly
waitress
wheel
x86cpu
xgboost
xlrd

