beautifulsoup4
chardet
coverage
ensae_teaching_cs
falcon>=1.4.1
folium
ijson
jyquickhelper
keras
keras_applications
keyring
keyrings.alt
lightmlrestapi
manydataapi
mlinsights
mnist
mpld3
opencv-python
pandas_streaming
papierstat
psutil
pycryptodomex
pyecharts
pyecharts-javascripthon
pyensae>=1.2.788
pymyinstall
pyquickhelper>=1.8
pyshp
qgrid
shapely
sphinx_modern_theme_modified
shapely
tf-nightly
waitress
wheel
x86cpu
xgboost
xlrd

